


#iframe2
{ 
    background-color: #fff;
}


.esriLegendLayerLabel{
    font-family: 'Arial';
    color:#333333;
    padding-bottom:0px;
    padding-top: 0px;
    cellspacing: 0px; 
    cellpadding: 0px;
    //   font-size:small;
   // display:none;  //NASCONDERE
}


.esriLegendLayerLabel2{
    font-family:"Arial";
    padding-bottom:10px;
    padding-top: 10px;
    color:red;
    display:none;
    cellspacing: 0px; 
    cellspacing: 0px; 
    //    font-size:small;

}

.esriLegendServiceLabel{
    font-family: 'Arial' !important;
    padding-bottom:30px !important;
    padding-top: 10px !important;
    cellspacing: 0px !important; 
    cellpadding: 0px !important; 
    color:darkslateblue !important;
    font-size:1.1em;
    //OK DA VISUALIZZARE
}


.esriLegendService{
    color:black;
    padding-bottom: 20px;
    padding-top: 0px;
    float: left !important;
    width: 225px !important;
    //      font-size:small;
    // font-weight:bold;
}


.esriLegendGroupLayer {
    padding-bottom: 0px;
    padding-top: 0px;
    color:purple;
    // display:none;
    font-weight:normal;
    cellspacing: 0px; 
    cellpadding: 0px; 

    //  font-size:small;
}


.esriLegendLayer{
    cellspacing: 0px; 
    cellpadding: 0px; 
    padding-bottom: 0px;
    padding-top: 0px;
    color:darkblue;
    // display:none;  // OK DA VISUALIZZARE
    font-weight:normal;
    font-size:small;
 //   float: left!important;
  //  width: 260px !important;
}


.cssText{
    border: 1px solid; 
    border-color:red green; 
    position: absolute; 
    height: 5px; 
    top: -999px;
    background-image: url("blank.gif");
}

