/*Vertical Tablet*/

@media (min-width: 768px) and (max-width: 1023px) {
   

.sliderr{
	margin-top: 1em;
}

.css-slider-wrapper input{
	display: none;
}

.modalInfo .subtit_des {
    padding-left: 5.4em!important;
}

.groupsLayersContainer {
    width: 100%;
}

.layersNameCont label{
	padding: 10px 10px 10px 37px;
}


}

@media (min-width:  992px) {
	
	.modalLanguage-content, .modalSocialNet-content {
	    width:970px;
	}

	#languagePage, #socialNetPage {
		margin-left: 16.6666666%;
		width: 66.666666666%;
	}

}
