@media  (min-width : 1824px) {

    .tit_des{
        font-size: 2.8em;
    }
    #subtit_des{
        font-size:1.5em;
    }

    #createPaneList{
        height: 95%;
    }

} 

@media (max-width : 800px) {

	#centralPane
	{
		min-width:100%;
	}

    #createPaneList{
        height: 80%;
    }
	
	#predefinedPane{
		height:25%;
	}
	
	div[id^="opentip-"]{
        left: 19% !important;
    }

    .k-widget.k-multiselect.k-header{width:65%;}

}


@media only screen and (max-width: 500px) {

    .slider-pagination label {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        background: white;
        margin: 0 10px;
        border: solid 1.5px black;
        cursor: pointer;
    }
    #predefinedPane {height: 30%;}
    .control i{font-size:2rem}
    .next{right:0%; top:30%;}
    .previous{left:0; top:30%;}

	#close_home, #close_share, #close_info, #close_search{z-index:101;}
	.click_info{width: 70px; right: 45px;}
	.click_info .fa-hand-pointer{font-size: 20px;}
	.click_info>p{width: 70px; font-size: 10px; margin: -10px 0 0px;}

	#closeHomeLabel1{font-size: 0.8em !important;}

	#languages_a {display: block; float: left; margin: 6px 0px 0 -4px; overflow: hidden; padding: 0; clear: both;}
	
    .subtit_des {color: white; text-align: left; padding-bottom: 5%; font-size: 0.8em; font-weight: normal; }
	.modal .addLayersButton{font-size:15px;}
	.modal .addLayersButton {font-size: 12px !important;}
	.k-widget.k-multiselect.k-header{width:100% !important;}
	.b, .c, .d {padding: 4px 5px; margin: 10px 2%; text-decoration: none;}
	
	#createPaneList1 { height: 41%;}
	
	#info_window {position: absolute; top: 10px; right: 2.5%; width: 95%; left: 2.5%; height: auto; padding: 0px; z-index: 1000;}
	#layerPane{overflow-y:auto;}
	
	#blue_info{height:auto;}
	#help_info, #feedback_info, #teachersCorner_info{width:auto; font-size: 1.3em; margin: 20px auto; padding: 20px 30px;}
	.modalSearch .multisearch{top: 10px;}
	.modalSearch .multisearch .addLayersButton{font-size:12px !important;}
	
	.theme_title{text-overflow: ellipsis; overflow: -webkit-paged-x;}
	#predefinedPane {height: 32%;}
	
	#textEmbed1{font-size: 1.4em; padding-bottom: 10px;}
	#textAreaContainer, #embedTextArea{width: 100%;}
	#copyIframe{padding: 10px 40%; top: 10px; transform: translate(0%,0%);}
    #textEmbed2 {padding-top: 20px; font-size: 0.9em;}
    
    #search_tit{font-size:0.9em;}
}
@media only screen and (max-width: 375px) {
	.layerNameContainer{font-size: 10px;}
	.modalS_tit i{display:none;}
}

@media all and (-ms-high-contrast:none) { 
    .css-slider-wrapper input[type="radio"]{
        visibility: hidden;
    }
    
    :checked.slide-radio1 ~ .sliderr {
        transform:translateX(120%)
    } 
    .slide1 {
        left:-160%
    }
    :checked.slide-radio2 ~ .sliderr {
        transform:translateX(-11%)
    } 
    .slide2 {
        left:-29%
    }
    :checked.slide-radio3 ~ .sliderr {
        transform:translateX(-141%)
    } 
    .slide3 {
        left:101%
    }
    :checked.slide-radio4 ~ .sliderr {
        transform:translateX(-270%)
    } 
    .slide4 {
        left:231%
    }
    :checked.slide-radio5 ~ .sliderr {
        transform:translateX(-400%)
    } 
    .slide5 {
        left:361%
    }
    :checked.slide-radio6 ~ .sliderr {
        transform:translateX(-540%)
    } 
    .slide6 {
        left:500%
    }
    .theme img{
        border:none;
    }
}


@media (min-width: 1025px) and (max-width: 1280px) {
	
    .tit_des{font-size: 1.8em; padding-top: 0; }
	.subtit_des{font-size:1em;}
	.modalSearch .multisearch{top:20px;}
	#help_info, #feedback_info, #teachersCorner_info {margin: 25px auto;padding: 25px 30px;font-size: 30px;}
}

@media (min-height: 750px) and (max-height: 850px) {
	
	#help_info, #feedback_info, #teachersCorner_info {margin: 25px auto;padding: 25px 30px;font-size: 30px;}
}

@media (min-height: 660px) and (max-height: 750px) {
	
	#help_info, #feedback_info, #teachersCorner_info {margin: 15px auto;padding: 20px 30px;font-size: 24px;}
}

@media (max-height: 600px) {
	
	#help_info, #feedback_info, #teachersCorner_info {margin: 10px auto;padding: 15px 25px;font-size: 20px;}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .modalSearch .multisearch{top:20px;}
  #predefinedPane1, #createPaneList1 {height: 45%;}
  #help_info, #feedback_info, #teachersCorner_info { margin: 25px auto;padding: 20px 30px;font-size: 1em;}
  #textEmbed2{font-size:10px;}
  .k-widget.k-multiselect.k-header{width:65%;}
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .opentip-container.opentipOther{max-width: 99% !important; min-height: auto !important; margin-left: 2%;}
  .opentip-container.opentipOther canvas {width: 100% !important;max-height: 100% !important;}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {
  .opentip-container.opentipOther{max-width: 99% !important; min-height: auto !important; margin-left: 2%;}
  .opentip-container.opentipOther canvas {width: 100% !important; max-height: 100% !important;}
}

/* para movil */
@media(max-height: 430px){
  #textEmbed1{padding-bottom: 30px;}
  #textEmbed2{font-size:10px;}
  #home_sep {margin: 5px 0;}
  .tit_des{font-size: 1em; padding-top: 0px;}
  .subtit_des{padding-bottom: 10px; font-size: 0.8em;}
  .theme{height: 34px; position: relative;}
  .theme_title{height: 25px; position:relative; top: 0;}
  #predefinedPane{height:25%;}
  #createPaneList {height: 65%;}
  #closeHomeLabel1, #closeHomeLabel2{font-size:0.7em !important;}
  .modalSearch .multisearch{top:20px;}
  #predefinedPane1, #createPaneList1 {height: 45%;}
  #help_info, #feedback_info, #teachersCorner_info { margin: 5px auto; padding: 5px 30px; font-size: 1em;}
  .k-widget.k-multiselect.k-header{width:65%;}
  
  #blue_info .fa-info-circle {font-size: 30px;top: 120px;}

}

@media(max-height: 430px) and (max-width: 670px){
	.modalSearch-content, .modalInfo-content{height: 90%; top: 50%;}
	#textEmbed1 {padding-bottom: 20px; font-size: 0.9em;}
	#copyIframe {padding: 10px 30px 15px 30px;transform: translate(0%,0%)}
	#createPaneList1 {height: 40%;}
	#blue_info .tit_des, #blue_info .subtit_des {margin-top: -15px !important;}
	#blue_info .subtit_des {font-size: 0.8em;}
	#help_info, #feedback_info, #teachersCorner_info {margin: 10px auto; padding: 15px 30px; font-size: 1em;}
	.b i, .c i, .d i{display:none;}
	.b, .c, .d{padding: 10px 10px;}
	.contentPane h1 {line-height: 10px; font-size: 1.3em; margin-bottom: -5px;}
	.esriPopup .contentPane {font-size: 0.7em;line-height: 15px !important;}
}

@media (min-height : 661px)and (max-height : 900px) and (orientation:landscape) {
    #predefinedPane1, #createPaneList1{
        height:55%;
    }
    
    #createPane{
        height:65%;
    }
}

@media (min-height : 661px)and (max-height : 800px) and (orientation:landscape) {

    .modal .subtit_des{
        font-size:1.2em;
    }
    .modal #home_sep{
        font-size: 0.5em;
    }
    #predefinedPane{
        height:40%;
    }

}

@media (min-height : 661px)and (max-height : 750px) and (orientation:landscape) {

    .modal .tit_des{
        font-size:2.2em;
    }
    .modal .subtit_des{
        font-size:1.0em;
        padding-bottom: 1%;
    }
    
}

@media (max-height : 660px)and (orientation:landscape) {
    #predefinedPane1, #createPaneList1{
        height:50%
    }
    .modalSearch .theme{
        margin:3% 1%;
    }
    .theme{
        height:45%
    }

    .modal .breadcrumb{
        font-size:0.9em;
    }
    .modal #home_sep{
        font-size: 0.1em;
    }
    .modal .tit_des{
        padding-top: 0%;
        font-size:2em;
        padding-bottom:2%;
    }
    .modal .subtit_des{
        font-size:1em;
    }
    #predefinedPane{
        height:40%;
    }
    #createPane{
        height:70%
    }

    .modalInfo .tit_des{
        padding-top:2%;
        padding-bottom:2%;
        font-size:2.2rem;
    }
    .modalInfo .subtit_des{
        font-size:1.2rem
    }
}

@media (min-height : 600px) and (max-height : 660px)and (orientation:landscape) {
    #help_info, #feedback_info, #teachersCorner_info{
        margin: 15px auto;
        padding: 20px 25px;
        font-size: 22px;
    }
}

/*Tablet 1024x600*/
@media (max-width : 1024px) and (max-height:600px) and (orientation:landscape) {
    .modal .tit_des{
        font-size:1.8em;
    }
    .modal .subtit_des{
        font-size:0.9em;
    }
    .modal .breadcrumb{
        font-size:0.85em;
    }

    #createPane, predefinedPane{
        height:60%;
    }

}

@media (min-width : 600px) and (max-width : 768px) and (min-height:900px) and (max-height:1024px) and (orientation:portrait) {

    #opciones_cabecera{
        right:28%
    }

    .theme{
        height:50%;
    }

    #multisearch1{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #createPaneList{
        height:100%;
    }

    .k-widget.k-multiselect.k-header{
        width:70%;
    }
    .modal .addLayersButton, .modalSearch .addLayersButton{
        font-size:1.4em;
    }

    .modalInfo .tit_des{
        font-size:2.2em;
        padding-top:10%;
        margin-left:5%;
    }
    .modalInfo .subtit_des{
        font-size:1.1em;
    }
    #help_info, #feedback_info, #teachersCorner_info{
        font-size:2em;
    }

}

/*IPAD*/
@media (max-width : 1024px) and (min-width : 1000px) and (max-height:768px) and (min-height:650px) and (orientation:landscape) {
    
    .modal .subtit_des{
        font-size:1em;
    }
    
    #help_info, #feedback_info, #teachersCorner_info { 
        margin: 5% auto;font-size: 2em;
    }

    .modalInfo .tit_des{
        font-size:2.3em;
        padding-top:0;
    }
    .modalInfo .subtit_des{
        font-size:1.2em;
    }
    .modal #home_sep {
        font-size: 0em
    }
    

}

@media (max-width : 768px) and (min-width : 700px) and (max-height:1024px) and (orientation:portrait) {
    .breadcrumb{
        font-size: 0.75rem;
    }

    .modal .subtit_des{
        font-size:1.1em
    }
    .modalInfo .tit_des{
        font-size: 2.1em;
    }
    .modalInfo .subtit_des{
        font-size:1.2em;
    }
    #help_info, #feedback_info, #teachersCorner_info { 
        margin: 10% auto;font-size: 2em;
    }
    #predefinedPane1, #createPaneList1{
        height:65%
    }
    
    #closeHomeCheckCont label:before{    
        width: 6px;
        height: 6px;
    }

    .theme{
        height: 45%;
        vertical-align: middle;
    }

    #predefinedPane{
        height:40%;
    }
    #createPane{
        height:100%;
    }
    #createPaneList{
        height: 100%;
    }

    .k-widget.k-multiselect.k-header{
        width:80%;
    }
    .opentip-container {
        max-width: 300px;
        z-index: 9999 !important;
    }
    .opentip{
        width:300px;
    }

    #twitter, #facebook, #linkedin,#twitter_modal, #facebook_modal, #instagram_modal{
        width: 40%;
    }

}

/*Tablet 1280x800*/
@media (max-width : 1280px) and (min-width : 1200px) and (max-height:800px) and (min-height:650px) and (orientation:landscape) {
    .tit_des{
        font-size:2.3em
    }
    .subtit_des{
        font-size:1.3em
    }
    #help_info, #feedback_info, #teachersCorner_info { 
        margin: 5% auto;font-size: 2em;
    }
    #predefinedPane1, #createPaneList1{
        height:57%
    }

    .sliderr {
        height: 90%!important;
    }

    #predefinedPane{
        height:45%;
    }
    #createPane{
        height:90%;
    }
    #createPaneList{
        height: 80%;
    }
    .modalSearch .theme{
        height:40%
    }

}

@media (max-width : 800px) and (min-width : 750px) and (max-height:1280px) and (min-height:1100px) and (orientation:portrait) {
    .modal .tit_des{
        font-size:2.3em;
        padding-top:5%;

    }
    .modal .subtit_des{
        font-size:1.4em;
        padding-bottom:5%;
    }
    .modalInfo .tit_des{
        font-size:2.3em;
        padding-top:5%;
    }
    .modalInfo .subtit_des{
        font-size:1.5em;
    }
    #help_info, #feedback_info, #teachersCorner_info { 
        margin: 10% auto;font-size: 2em;
    }
    #predefinedPane1, #createPaneList1{
        height:65%
    }

    .theme{
        vertical-align: middle;
    }
  
    #predefinedPane{
        height:45%;
    }
    #createPane{
        height:100%;
    }
    #createPaneList{
        height: 100%;
    }

    .modalSearch .theme {
        height: 30%;
        width: 43%;
        margin-bottom:10%
    }

    #opciones_cabecera{
        right: 28%;
    }
    #twitter, #facebook, #linkedin, #twitter_modal, #facebook_modal, #instagram_modal {
        width: 40%;
    }    
    .b.active, .c.active, .d.active{
        padding-bottom:10px;
    }

}