@media only screen and (min-width:  1920px) {

	.theme_img {
	    background-color:#ececec !important;
	    position: relative;
	    height: 205px;
	    overflow: hidden;
	}

	.css-slider-wrapper{
		height: 345px;
	}

	.theme:hover .theme_img_des{
		padding-top: 0em;
	}

	.theme_img_des p:nth-child(2), .theme_img_des p:nth-child(3) {
	    font-size: 13px;
	}

	.theme_img_des p:nth-child(1) {
	    font-size: 1.4em;
	}

	.theme_title > span{
		font-size: 1.4em;
	}

	.control{
		top: 40%;	
	}

	.control i{
		font-size: 40px;
	}

}

@media only screen and (min-width:  1480px) {
	
	.theme_img > img{
	    width:100%;
	    height: auto;
	}

}

@media (min-width:  1200px) {
	
	.modalLanguage-content, .modalSocialNet-content {
	    width:1170px;
	}

}

