@media screen and (max-height: 800px) {

	.css-slider-wrapper{
		height: 70%;
		overflow-y:auto;
	}

	#searchPage .theme_img{
		height: 115px!important;
	}
	
	.sliderr {
	    width: 100%;
	    height: 90%;
	}
}

@media screen and (max-height: 700px){
	.sliderr {
	    height: 140%;
	}
}

@media (min-width: 1424px) and (max-height: 768px){
	#searchPage .theme_img{
		height: 160px!important;
	}
}

@media screen and (max-height: 624px){
	#searchPage .theme_img {
	    height: 71px!important;
	}
}

@media only screen and (max-width: 768px) {
 
	/*Fix Slider Mobile*/
	
	.theme_title_button{
		text-align: center;
	}

	.theme_img {
	    height: 90px;
	}

	.show-modal{
		overflow-x: auto;
	}


	.groupsLayersContainer {
    	width: 100%;
	}

	.layersNameCont label{
		padding: 10px 10px 10px 37px;
	}

	#logo_cabecera{
		padding-left: 1em;
	}
	
	.theme_title > span{
	    font-size: 1.1em;
	}

	#predefinedPane1{
		padding: 0 3em;
		text-align: center;
		height: auto;
		background: #FFF;
	}

	.css-slider-wrapper{
		height: 70%;
		overflow-y:auto;
	}
	
	.modal-content, .modalShare-content, .modalSearch-content, .modalInfo-content{
		height: 100%;
		top: 52%;
	}

	#scroll{
		height: 110%;
	}

	.css-slider-wrapper input{
		display: none;
	}

	.theme{
		width: 35%;
	    max-width: 250px;
	    height: 180px!important;
	    margin-right: 3em!important;
	    margin-left: 3em!important;
	}

	#searchPage .theme{
		width: 35%;
	    max-width: 250px;
	    height: 180px!important;
	}

	.slide_cont{
		overflow: inherit;
		height: 100%;
	}
}




@media only screen and (max-width: 501px) {
	
	#info_window .sizer{
		width: 256px !important;
	}

	.modal-content{
		width: 93%;
	}

    .breadcrumb {
		padding-top: 1em;
		padding-bottom: 1em;
	}

    #opciones_cabecera{
    	width: auto;
    }

    #Help{
	   	margin: 0 0px 0 5px;
	    left: -11px;
    	top: 0;
	    position: relative;
    }
		
	#languages_a{
		display: block;
		float: left;
		margin: 0;
		overflow: hidden;
		padding: 0;
		clear: both;
	}

	#languages_a a{
		padding: 4px;
	}
	
	#home_sep{
		margin-top: 0.2em;
	}

	.tit_des {
		font-size: 1.4em;
	}

	#opciones_cabecera {
		position: relative;
		right: 2%; 
	}
	
	.subtit_des{ 
		font-size: 1em;
		line-height: 16px;
	}

	#multisearch1 {
		padding-bottom: 7%;
		width: 100%;
		margin-left: -20px;
		float: left;
	}

	.modal-content .search_icon {
		float: left;
		position: absolute;
		z-index: 999;
		right: 31px;
		background-color: #004593;
		margin-top: -1px;
		padding: 5px;
		margin-right: -24px;
	}

	#closeHomeLabel2{
		float: left;
	}

	.section_tit {
	    width: 91%;  
	    margin: 0 1em;
	}

	.b span, .c span, .d span{
		font-size:12px; 
		padding-left:0;
	}

	.b.active, .c.active, .d.active {
	    padding-bottom: 4px;
	}
	
	#blue_info {
	    position: relative;
	}

	#blue_info .fa-info-circle {
	    left: 6%;
	    top: 32%;
	    font-size: 2em;
	}

	#multisearch2 .k-widget.k-multiselect.k-header{
		width:74% !important;
		margin-left: 1em;
	}

	.lay_leg{
		width: 72%;
	}

	#leftPane[style*="display: block"] #buttonshow{
		margin: -42px 0 0 !important;
	}

	.lay_leg_tit {
		padding: 30px 0 15px 15% !important;
	}

	#basemap_container {
	    width: 57%;
	}
	
	#selectbasemap{
		padding-left: 0% !important;
		font-size: 16px;
		font-weight: bold;
		width: 100%;
		text-align: center;
		display: block;
	}

	.infoButton, .settingButton{
		padding: 13px 6px 12px;
	}

	#basemap_next{
		right: 20px;
	}

	#basemap_previous{
		left:20px;
	}

	.esriBasemapGalleryThumbnail{
		box-shadow: 0px 0px 4px #000;
	}
}


@media only screen and (max-width: 373px) {
	
	.section_tit.fixed {
	    width: 95%;
	}

	div[id^="opentip-"]{
        left: 0% !important;
    }

	.layersNameCont label{
		max-width: 66%;
	}

	.theme{
		width: 66%;
		height: 151px !important;
	}

	#white_search .theme{
		width: 100%;
	}

	.section_tit_search{
		margin: 30px 0% 0px 4%;
	}

	#closeHomeCheckCont {
    	top: -60px;
	}

	#Help {
	    left: -1px;
	    top: -17px;
	}

	.theme_title{
		padding-left: 0;
	}

	.theme_title_button{
		width: 100%;
		text-align: center;
	}

	div.theme> div.theme_title span{
		padding-left: 10px;
	}
}

@media (min-width:  768px) {
	
	.modalLanguage-content, .modalSocialNet-content {
	    width:750px;
	}

}

@media (max-width:  992px) {
	
	#languagePage, #socialNetPage {
		margin-left: 5%;
		width: 90%;
	}

}



