
@media (max-width: 1024px) and (min-width: 768px){

	.theme_img{
		height: 115px;
	}

	#searchPage .theme_img{
		height: 145px;
	}
}

@media (min-width: 1416px) and (max-width: 1920px) {
	
	.theme_img {
		height: 183px;
	}

}

@media (min-width: 1280px) and (max-width: 1416px) {
	
	.theme{
		width: 25%;
	}


	.theme_img {
		height: 123px;
	}
	
}

@media (max-width: 1280px) {
	
	#twitter, #facebook, #pinterest, #linkedin, #instagram_modal,#twitter_modal, #facebook_modal{
	    width: 100%;
	    margin-bottom: 1em;
	}

	#sharePane .img{
		width: 50px;
	}
	
}

@media (min-width: 1024px) and (max-width: 1280px) {

	.tit_des{
		padding:0.7em 0  0.5em 0;
	}

	.slide_cont{
		margin-top: 0em;
	}

	.theme_img {
		height: 150px;
	}

	.theme {
	    width: 30%;
	}

	.groupsLayersContainer {
	    width: 100%;
	}

	.layersNameCont label{
		padding: 10px 10px 10px 37px;
	}
}




